# Distribution / packaging
/node_modules
*.egg-info/

# Logs
logs
*.logs

# OS
.DS_Store

# env files
.env
.env*

# database volume
db-volume

# dbt files
**/.user.yml
dbt_packages/
target/

# data files
.data/

data/download/*
!data/download/.gitkeep

data/convert/*
!data/convert/.gitkeep

data/tiles/extracted/*
!data/tiles/extracted/.gitkeep

data/tiles/finished/*
!data/tiles/finished/.gitkeep

tippecanoe/tile-finish/interim/*
!tippecanoe/tile-finish/interim/.gitkeep
