# Distribution / packaging
/node_modules
*.egg-info/

# Logs
logs
*.logs

# OS
.DS_Store

# env files
.env
.env*

# database volume
db-volume

# dbt files 
**/.user.yml
dbt_packages/
target/

# data files
.data/

data/download/*
!data/download/.gitkeep

# drizzle sql migrations
drizzle/migration/meta/*
drizzle/migration/*.sql