services:
  control:
    extends:
      file: common-services.yml
      service: control
    networks:
      - data
  db:
    extends:
      file: common-services.yml
      service: postgis
    networks:
      - data
networks:
  data:
    name: ae-zoning-api_data
    external: true
